<% @page_title = 'Forgot Password' %>
<p><%= image_tag 'logo.png' %></p>
<% form_tag forgot_password_path, :name => 'loginform' do -%>
  <table class="axial">
    <tr>
      <th>Login</th>
      <td><%= text_field_tag 'login', @login %></td>
      <td>User name or email address</td>
    </tr>
  </table>
  <div class="functnbar3">
    <%= submit_tag 'Request Password Ticket' %>
  </div>
<% end %>