<%# Copyright (C) 2008 Avalanche, LLC. -%>
<div id="banner">
  <table border="0" cellspacing="0" cellpadding="8" width="100%">
    <tr>
      <td>
        <h1>
          <%= image_tag 'logo.png' %>
        </h1>
      </td>
      <td>
      </td>
    </tr>
  </table>
</div>