<% form_for(@tv_brand) do |f| %>
  <%= f.error_messages %>
  <h3>New Tv Brand</h3>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="functnbar3">
    <%= f.submit "Create" %>
  </div>
<% end %>

<%= link_to 'Services List', services_path %>